<h1>Goods' List</h1>

<div>
    <%= button_to "New", new_good_path, method: "get" %>
    <%= button_to "Order by Id", goods_path, method: "get" %>
    <%= button_to "Order By Name", goods_path, method: "get", params: {order: "name"} %>
</div>

<ul>
    <% @goods.each do |good| %>
        <li><%= link_to good.name, good_path(good) %></li>
    <% end %>
</ul>